/* utility classes */
section {
    padding: 30px 0;
}

h2 {
    font-size: 40px;
    margin-bottom: 24px;
}

p {
    margin-bottom: 24px;
}

[class^="jumbo-"] {
    background-size: cover;
    background-position: center;
    height: 600px;
    color: white;
}

[class^="jumbo-"] > .container, [class^="jumbo-"] .row {
    height: 100%;
}

[class^="jumbo-"] img {
    width: 60%;
    margin-bottom: 30px;
}

[class^="jumbo-"] p {
    font-size: 16px;
}

[class^="jumbo-"] button {
    width: 120px;
    font-size: 16px;
    background-color: #cd3d0f;
    border-color: #cd3d0f;
    border-radius: 25px;
}

[class^="jumbo-"] button:hover {
    background-color: #b83408;
    border-color: #b83408;
}

[class^="game-box-"] {
    margin: 12px 0;
    border-radius: 25px;
    border: 2px solid white;
}

[class^="game-box-"] img {
    width: 100%;
    border-radius: 25px;
    border: 5px solid white;
}

[class^="game-box-"]:hover {
    border: 2px solid blue;
}

.text-block > h2, .text-block > p {
    color: #1f1f1f;
}

.text-block > p {
    font-size: 20px;
    opacity: 0.7;
}

.section-button {
    font-size: 16px;
    color: white;
    font-weight: 700;
    background-color: #2d64e6;
    border-color: #2d64e6;
    border-radius: 25px;
}

section img {
    width: 100%;
}
/* end of utility classes */

.jumbo-1 {
    background-image: url(../img/jumbo-bg.png);
    padding-bottom: 60px;
}

.second-section.text-block {
    text-align: center;
}

.over-text {
    font-size: 14px;
    font-weight: 500;
    color: #0072ce;
}

.fourth-section figure {
    opacity: 0.75;
    border-bottom: 2px solid white;
    transition: all 0.25s ease-in-out;
}

.fourth-section figure:hover {
    border-bottom: 2px solid #0072ce;
    opacity: 1;
}

.fourth-section img {
    width: 55%;
}

.fourth-section figcaption {
    color: #1f1f1f;
    font-size: 16px;
    margin-bottom: 30px;
}

.jumbo-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}