/* utility classes */
.button-circle {
    padding: 2px;
    width: fit-content;
    border-radius: 25px;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: all 0.25s ease-in-out;
}

.button-circle:hover {
    width: fit-content;
    border-radius: 25px;
    border: 2px solid;
}

section {
    padding: 30px 0;
}

h2 {
    font-size: 40px;
    margin-bottom: 24px;
}

h3 {
    font-size: 32px;
    margin-bottom: 24px;
    color: #1f1f1f;
}

p {
    margin-bottom: 24px;
}

[class^="jumbo-"] {
    background-size: cover;
    background-position: center;
    height: 600px;
    color: #f5f5f5;
}

[class^="jumbo-"] > .container, [class^="jumbo-"] .row {
    height: 100%;
}

[class*="jumbo-"] img {
    width: 60%;
    margin-bottom: 30px;
}

[class*="jumbo-"] p {
    font-size: 16px;
}

[class*="jumbo-"] button {
    font-size: 16px;
    font-weight: 500;
    border-radius: 25px;
}

[class^="jumbo-"] button {
    width: 120px;
    background-color: #cd3d0f;
    border-color: #cd3d0f;
}

[class^="jumbo-"] .button-circle:hover button {
    background-color: #b83408;
    border-color: #b83408;
}

[class^="jumbo-"] .button-circle:hover {
    border-color: #b83408;
}

[class^="small-jumbo-"] {
    margin: 30px 0 15px 0;
    padding: 10px 0;
}

[class^="small-jumbo-"] p {
    margin-bottom: 30px;
}

[class^="small-jumbo-"] button {
    width: 210px;
}

[class^="game-box-"] img {
    border-radius: 25px;
}

.text-block {
    font-size: 20px;
}

[class*="-section"] p {
    opacity: 0.7;
}

.section-button button {
    font-size: 16px;
    color: white;
    font-weight: 700;
    background-color: #2d64e6;
    border-color: #2d64e6;
    border-radius: 25px;
    transition: all 0.25s ease-in-out;
}

.section-button:hover button {
    background-color: #1c54d6;
    border-color: #1c54d6;  
}

[class*="-section"] .button-circle:hover {
    border-color: #1c54d6;
}

section img, [class^="small-jumbo-"] .featured-games {
    width: 100%;
    margin-bottom: 0;
}

[class^="offer-box-"], [class^="social-box-"] {
    margin: 15px 0;
}

ul {
    list-style: none;
}
/* end of utility classes */

/* top-bar with sony logo */
.sony-logo-bar {
    height: 36px;
    background-color: black;
}

.sony-logo-bar > img {
    padding-right: 8px;
    width: 90px;
}

/* sticky navbar */
nav {
    height: 64px;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:focus {
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #0072ce;
}

.navbar-toggler {
    border: 2px solid grey;
}

.left-side .nav-item {
    margin-left: 12px;
}

.right-side .nav-item {
    margin-right: 12px;
}

.chevron, .chevron-hover {
    width: 11px;
    margin-left: -5px;
}

.chevron-hover {
    display: none;
}

.nav-item:hover .nav-link {
    color: #0072ce;
}

.nav-item:hover .chevron {
    display: none;
}

.nav-item:hover .chevron-hover {
    display: inline-block;
}

.right-side button {
    border-radius: 25px;
}

.right-side .button-circle:hover button {
    background-color: #363636;
    border-color: #363636;
}

.right-side .button-circle:hover {
    border-color: #363636;
}

.lens {
    width: 24px;
}

/* jumbo */
.jumbo-1 {
    background-image: url(../img/jumbo-bg.png);
    padding-bottom: 60px;
}

/* first section */
.first-section [class^="game-box-"] {
    margin: 12px 0;
    border-radius: 25px;
    border: 2px solid white;
    transition: all 0.25s ease-in-out;
}

.first-section img {
    border: 5px solid white;
}

/* second section and third section */
.second-section {
    text-align: center;
}

.over-text {
    font-size: 14px;
    font-weight: 500;
    color: #0072ce;
}

.second-section .text-block, .third-section .text-block {
    color: #1f1f1f;
}

/* fourth section */
.fourth-section figure {
    height: 100%;
    padding-bottom: 30px;
    opacity: 0.75;
    border-bottom: 2px solid white;
    transition: all 0.25s ease-in-out;
}

.fourth-section figure:hover {
    border-bottom: 2px solid #0072ce;
    opacity: 1;
}

.fourth-section figcaption {
    color: #1f1f1f;
    font-size: 16px;
    display: none;
}

@media screen and (min-width: 768px) {
    .fourth-section img {
    width: 60%;
    }

    .fourth-section figcaption {
        display: block;
    }
}

/* second jumbo background */
.jumbo-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/* fifth section */
.fifth-section {
    background-color: #1f1f1f;
}

.fifth-section .text-block {
    color: #f5f5f5;
}

.fifth-section [class^="game-box-"] {
    margin: 30px 0;
    color: white;
}

/* sixth and eighth section */
.sixth-section, .eighth-section {
    text-align: center;
    padding-top: 60px;
}

/* seventh section */
.discover-more {
    margin-bottom: 30px;
}

/* small jumbo 1 */
.small-jumbo-1 {
    background-color: #bebcbb;
}

.small-jumbo-1 p {
    color: #1f1f1f;
}

.small-jumbo-1 button, .small-jumbo-1 .button-circle:hover button {
    color: #0072ce;
    background-color: rgba(220,222,224,.9);
    border-color: rgba(220,222,224,.9);
}

.small-jumbo-1 .button-circle:hover {
    border-color: rgba(220,222,224,.9);
}

/* small jumbo 2 */
.small-jumbo-2 {
    background-color: #081331;
}

.small-jumbo-2 p {
    color: #f5f5f5;
}

.small-jumbo-2 button, .small-jumbo-2 .button-circle:hover button {
    color: #19191f;
    background-color: white;
    border-color: white;
}

.small-jumbo-2 .button-circle:hover {
    border-color: white;
}

.featured-games {
    display: none;
}

@media screen and (min-width: 768px) {
    .featured-games {
        display: block;
    }
}

/* tenth section */
.tenth-section h3 {
    margin-top: 50px;
}

footer {
    margin-top: 50px;
    padding: 60px 0;
    background-color: #00439c;
    color: white;
    font-size: 14px;
}

#ps-footer-icon {
    width: 90px;
}

@media screen and (min-width: 768px) {
    #ps-footer-icon {
        width: 96px;
    }
}

footer .row > div:first-child {
    margin-bottom: 45px;
}

footer .row > div:last-child {
    margin-top: 45px;
}

.country-selection {
    margin-top: 30px;
}

#globe-footer-icon {
    width: 16px;
    margin-right: 8px;
}

.country-selection span {
    vertical-align: middle;
}

footer li:not(:last-child) {
    margin-bottom: 12px;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
}

footer ul a {
    text-decoration: none;
}

#sie-footer-icon {
    width: 120px;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    #sie-footer-icon {
        width: 130px;
    }
}